{% extends 'base.html' %}

{% block content %}
<ul id="notice">
</ul>
<script type="text/javascript" src="{{ MEDIA_URL }}jquery.notice.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('#notice').displayNotice('{% url notice_get %}');
    for (var i = 1; i < 11; i++) {
        setTimeout($.ajax, 1000 * i, {
            url: '{% url notice_add %}',
            data: {'notice': 'Hello, John ' + i},
            type: 'POST',
            dataType: 'json',
            success: function(data) {
                console.log('.');
            }
        });
    }
});
</script>
{% endblock %}
